html, body
{
    font-family:Arial;
    color:#000;
}
body
{
    font-size:16px;
}

/* draggable targets */
.wrapper{
    width:100%;
    max-width: 800px;
    margin:0 auto;
}
.draglists
{
    float:left;
    list-style-type:none;
    width:42%;
    height:auto;
    min-height:250px;
    margin:0 10px 10px 0;
    padding:10px;
    border:1px solid #ccc;
    background:#fff;
}

/* draggable items */
.draglists li
{
    display:block;
    list-style-type:none;
    margin:0 0 2px 0;
    padding:5px;
    cursor: move;
}
.draglists li:nth-child(even){
    background: #ddd;
}
.draglists li:nth-child(odd){
    background: #eee;
}